.jumbotron {
  padding-top: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

.landing-1-1 {
  background-image: url('http://localhost:3001/static/homepageicon/BGimage.png');
  background-repeat:no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  min-height: 600px;
}

.landing-1-2 {
  background-image: url('http://localhost:3001/static/homepageicon/gradient.png');
  background-repeat:no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  opacity: 0.75;
}

.landing-1-3 {
  background-color: #573fe0;
  color: #fff;
  opacity: 0.75;
  min-height: 250px;
}

.landing-2-1 {
  background-image: url('http://localhost:3001/static/homepageicon/BGimage2.png');
  background-repeat:no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  min-height: 950px;
}

.landing-3 {
  background-color: #5d5d5d;
  opacity: 0.75;
  height: 475px;
}

.landing-4 {
  background-color: #3cc6af;
  opacity: 0.75;
  height: 475px;
}


.landing-5 {
  background-color: #15a4b7;
  opacity: 0.75;
  height: 475px;
}

.landing-6 {
  background-color: #5d5d5d;
  opacity: 0.75;
  height: 475px;
}

@media screen and (max-width: 886px) {
  .landing-2-1, .landing-1-3 {
    margin-top: -5%;
  }

}